body{
    
}
.galeri-container{
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    /* background-color: #ffff; */
    /* box-shadow: 10px 10px 70px  #8b8989; */
    border-radius: 5px;
    margin-bottom: 20px;
}
.galeri-title{
    border-left: 5px solid red;
    padding-left: 10px;
}
.galeri-content{
    margin-top: 0px;
}
.galeri-sport-category{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 30px;
}
.img-card {
    background-color: #ffff;
    border-radius: 2px;
    width: 240px;
    box-shadow: 2px 5px 5px 3px  #bebebe;
}

.img-card h3 {
    text-overflow: ellipsis;
    overflow: hidden;
}


.img-card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 180px;

}

   

.img-card:hover {
    /* transform: translateY(-15%);
    transition: transform 0.9s */
    box-shadow: 10px 10px 50px  #8b8989;
 }

.row-img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}
.img-container{
    position: relative;
}

.img-container:hover .overlay {
    opacity: 1;
}

@media screen and (min-width: 600px) {    
    .img-card {
        width: 280px;
    }
     
}


@media screen and (min-width: 820px) {    
    .img-card {
        width: 300px;
    }
}

@media screen and (min-width: 1080px) {    
  
    .row-img {
        flex-direction: row;
    }

  
     
}

@media screen and (min-width: 1200px) {    
    .row-img {
        flex-wrap:nowrap;
    }
    .img-card img {
        width: 100%;
        height: 180px;
     }
     
}

@media screen and (min-width: 1360px) {    

    .img-card {
        width: 330px;
    }

    .img-card img {
        height: 210px;
        width: 100%;
     }
     
}
  